<div class="page-width" >
    <div class="bread">
			{% render 'breadcrumbs' %}
  	</div>
</div>

{% schema %}
  {
    "name": "Breadcrums",
    "settings": [],
	 "presets": [
    {
      "name": "Section Breadcrums"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
