body .boost-pfs-filter-product-item-grid{
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}
.boost-pfs-filter-product-bottom-inner {
    text-align: center;
}

.card-information__wrapper .card-information__text,
.boost-pfs-filter-product-bottom-inner .boost-pfs-filter-product-item-title {
    color: rgb(var(--color-base-accent-2));
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    display: block;
    margin-top: 10px;
    font-family: var(--font-body-family);
    /* min-height: 46px; */
}

.card-information__wrapper .price--on-sale .price-item--regular,
.boost-pfs-filter-product-bottom-inner .boost-pfs-filter-product-item-price s {
    color: #444444;
    opacity: 0.75;
}

.boost-pfs-filter-product-bottom-inner .boost-pfs-filter-product-item-price {
    color: #444444;
    opacity: 0.75;
    font-size: 16px;
      font-family: var(--font-body-family);
}

.card.card--product .card__badge .badge,
.boost-pfs-filter-product-item-inner .boost-pfs-filter-product-item-label .sale {
    background-color: #FF8100;
    border: 0 none;
    border-radius: 0;
    font-size: 13px;
    line-height: 14px;
    padding: 2px 10px 1px;
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
}

.card-information__wrapper .price--on-sale .price__sale,
.boost-pfs-filter-product-bottom-inner .boost-pfs-filter-product-item-price .boost-pfs-filter-product-item-sale-price {
    color: #FF8100;
}

.quick-view-button {
    text-align: center;
}

.quick-view-button button.quick-view {
    border: none;
    color: #FF8100;
    font-family: var(--font-heading-family);
/*     font-weight: var(--font-heading-weight); */
  font-weight: normal;
    background: transparent none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

.quick-view-button button.quick-view:hover {
    text-decoration: underline;
}

.sidebar-wrap {
    display: flex;
    margin-top: 50px;
}

.sidebar-wrap .sidebar {
    flex: 0 0 23%;
}

.sidebar-wrap .sidebar .boost-pfs-filter-toolbar-count {
    text-align: left;
}

span.boost-pfs-filter-total-product {
/*     font-family: var(--font-heading-family); */
    line-height: 36px;
    text-align: left;
    margin-bottom: 30px;
/*     font-weight: 500; */
    color: rgb(var(--color-base-accent-2));
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
    padding-right: 17px;
    display: block;
}

.sidebar-wrap .sidebar ul.sidebar-menu.list-menu {
    list-style: none;
}

.sidebar-wrap .sidebar ul.sidebar-menu.list-menu>li {
    padding: 5px 0;
    line-height: normal;
}

.sidebar-wrap .sidebar ul.sidebar-menu.list-menu>li>a, .boost-pfs-filter-option-title-heading span {
    color: #FF8100;
    text-decoration: none;
/*   font-weight: 400; */
}
.sidebar-wrap .sidebar ul.sidebar-menu.list-menu>li>a.menu-item--active {
  text-decoration: underline;
}

.sidebar-wrap .sidebar ul.sidebar-menu.list-menu>li>ul {
    list-style: none;
    margin: 10px;
    padding: 0;
  display: none;
}
.sidebar-wrap .sidebar ul.sidebar-menu.list-menu>li a.menu-item--active + ul {
    display: block;
}

.sidebar-wrap .sidebar ul.sidebar-menu.list-menu>li>ul>li {
    padding: 5px 0;
}

.sidebar-wrap .sidebar ul.sidebar-menu.list-menu>li>ul>li>a {
    text-decoration: none;
    font-size: 80%;
}

.sidebar-wrap .sidebarnext-content {
    flex: 1 1 77%;
    width: 77%;
    padding-left: 15px;
    position: relative;
}
.sidebar-wrap .sidebarnext-content .boost-pfs-container-default-box {
    padding-left: 0;
    padding-right: 0;
}

.sidebar-wrap .sidebarnext-content .boost-pfs-filter-tree-h-wrapper {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
    border: 0 none;
}

.sidebar-wrap .sidebarnext-content .boost-pfs-filter-default-toolbar {
    margin: 0;
    border: 0;
    position: absolute;
    top: 0;
    width: auto;
    right: 0;
    left: auto;
    z-index: 2;
}

.sidebar-wrap .sidebarnext-content .boost-pfs-filter-default-toolbar .boost-pfs-filter-default-toolbar-inner {
    display: inline;
    width: auto;
}

.boost-pfs-filter-collection-header-wrapper {
    padding: 8px 0 0;
}

.boost-pfs-filter-collection-header-wrapper h1 {
    margin-top: 10px;
    color: rgba(var(--color-base-accent-2), 1);
}

.boost-pfs-filter-collection-description {
    margin: 0;
}


.boost-pfs-filter-tree-h .boost-pfs-filter-option-title-heading {
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
    padding-left: 15px;
    padding-right: 25px;
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-title-heading:before {
    right: 10px;
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-title-heading[aria-expanded="true"] {
    color: #FF8100;
    border-bottom-color: #FF8100;
}

.boost-pfs-filter-tree-h .boost-pfs-filter-option-title-heading[aria-expanded="true"]:before {
    border-color: transparent #FF8100 #FF8100 transparent;
}

.boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button {
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight);
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
    padding-left: 15px;
    padding-right: 15px;
}
.boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting label {
    color: #FF8100;
    font-weight: var(--font-body-weight);
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
    padding-left: 15px;
    padding-right: 0;
    line-height: 38px;
    margin-right: -6px;
}
.boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button>span {
    padding-right: 16px;
}

.boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button>span:after {
    right: 0;
}

.boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting button>span>span {
    line-height: 36px;
    font-size: 14px;
  text-transform:uppercase;
}

.boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting.boost-pfs-filter-sort-active button {
    color: #FF8100;
    border-bottom-color: #FF8100;
}

.boost-pfs-filter-default-toolbar .boost-pfs-filter-top-sorting.boost-pfs-filter-sort-active button>span:after {
    border-color: transparent #FF8100 #FF8100 transparent;
}


.promo-iteam {
    background-size: cover;
    background-position: top center;
}
.promo-iteam .innterBoximgWrap {
    position: relative;
}
.promo-iteam .innterBoximg {
    background-size: cover;
}
.promo-iteam .innterBox {
    position: absolute;
    bottom: 0;
    background: rgb(var(--color-base-accent-2));
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 0 15px;
}

.promo-iteam .innterBox h3.heading {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
  text-transform: uppercase;
}

.promo-iteam .innterBox .btnWrap {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.promo-iteam .innterBox .btn {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.promo-iteam .innterBox .btn:hover {
    text-decoration: underline;
}

#quick-view .product-single .price {
    align-items: flex-start;
}

#quick-view .product-single .price--sold-out .price__badge-sold-out {
    background: transparent;
    color: rgb(var(--color-background));
    padding: 1rem 1.6rem 0 0.6rem;
    border: none;
}

#quick-view .product-single .price--sold-out .price__badge-sale {
    display: none;
}

.card-media-wrap {
    position: relative;
}

.card-media-wrap .inline-form-options,
.boost-pfs-filter-product-item-image .inline-form-options {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0,0,0,0.7);
    border: 0 none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}
.inline-form-wrap:hover .card-media-wrap .inline-form-options,
.inline-form-wrap:hover .boost-pfs-filter-product-item-image .inline-form-options {
    /* visibility: visible; */
    opacity: 1;
}


.card-media-wrap .inline-form-options .product-single,
.boost-pfs-filter-product-item-image .inline-form-options .product-single {
    flex: 1 1 auto;
}
.card-media-wrap .inline-form-options fieldset,
.boost-pfs-filter-product-item-image .inline-form-options fieldset{
    border: 0 none;
    padding: 0;
    margin: 0;
}



.ipo-product-options{text-align: center;}
.ipo-product-options .product-single__swatch__item {
    display: inline-block;
}
.ipo-product-options .product-single__swatch__item .u-hidden-visually {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
.ipo-product-options .product-single__swatch__label {
    font-size: 12px;
    position: relative;
    display: block;
    text-indent: 0;
    margin: 0 4px 4px;
    transition: box-shadow 0.2s ease;
    border-radius: 0;
    width: auto;
    height: 30px;
    padding: 5px 10px;
    display: inline-block;
    line-height: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}
.ipo-product-options .option-selection-color-swatches .product-single__swatch__label {
    padding: 0;
    position: relative;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 4px 4px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1px #e8e8e1;
    box-shadow: 0 0 0 1px var(--color-border);
    transition: box-shadow 0.2s ease;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: inline-block;
}

.ipo-product-options .product-single__swatch__item input[type='radio']:checked + label {
  border: 1px solid rgba(255,255,255,0.5);
}
.ipo-product-options .product-single__swatch__label .product-single__swatch__label__graphic {
  display: block;
  width  : 100%;
  height : 100%;
  border-radius: 50%;
}
.ipo-product-options .option-selection-color-swatches input[type='radio']:checked + .product-single__swatch__label{
  padding: 2px;
}
.ipo-product-options .product-form__controls-group .option-selection{
  text-align: left;
}
.ipo-product-options .product-form__controls-group .option-selection span.option{
  display: none;
  text-transform: capitalize;
}
.ipo-product-options .product-form__controls-group .option-selection .option{
  height: 36px;
  padding: 0 35px  0 10px;
  border: 1px solid rgba(255,255,255,1);
  background: transparent;
  color:#fff;
  box-shadow: none;
}
.ipo-product-options .product-form__controls-group .option-selection .select .icon-caret{
  right: 0.75rem;
  color:#fff;
}
.ipo-product-options .product-form__controls-group .option-selection.option-selection.option-selection-color{
  display: none;
}
.ipo-product-options .swatch_options .option-selection.option-selection-swatches.option-selection-size-swatches{
  display: none;
}
.ipo-product-options button.btn.ipo-add-button {
    background-color: rgb(var(--color-base-accent-2));
    border: 1px slid rgb(var(--color-base-accent-2));
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    width: 100%;
    height: auto;
    line-height: 32px;
    cursor: pointer;
}

.ipo-add-to-cart-response,
.ipo-add-to-cart-response a {
    color: #fff;
    font-weight: normal;
    line-height: normal;
    padding-top: 10px;
    font-size: 12px;
}
.ipo-product-options .product-form__controls-group .option-selection .option option {
    color: #000;
}
body .boost-pfs-filter-refine-by-wrapper-h .boost-pfs-filter-pc{
    margin-top: -30px;
}
.sidebar-wrap .sidebar .mobileTitle{
    display: none;
}
.boost-pfs-filter-option-item.boost-pfs-filter-option-label .boost-pfs-filter-button{
    font-family: "Varela Round";
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 25px;
    text-align: left;
    color: #444;
    text-decoration: none;
}
body .boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list li{
    margin-bottom: 0;
}
body .boost-pfs-filter-apply-button {
    line-height: 26px;
    padding: 0 24px;
}
body .boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-amount{
    opacity: 1;
}
@media (min-width: 768px) and (max-width: 1199px){
    body .promo-iteam.boost-pfs-filter-product-item.boost-pfs-filter-product-item-grid{
        width: 66.66%;
    }
}
@media(max-width: 991px) {
 .boost-pfs-filter-default-toolbar .boost-pfs-filter-toolbar-item.boost-pfs-filter-toolbar-type {
        display: none;
    }
    body.boost-pfs-mobile-stick .boost-pfs-filter-toolbar-sticky-mobile .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper,
    body.boost-pfs-mobile-stick .boost-pfs-filter-toolbar-sticky-mobile .boost-pfs-filter-tree-mobile-button button{
        background-color: rgb(var(--color-base-accent-2)) !important;
        color:#fff;
    }
    body.boost-pfs-mobile-stick .boost-pfs-filter-toolbar-sticky-mobile .boost-pfs-filter-tree-mobile-button button:before{
        background-image:url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='%23ffffff'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3C/g%3E%3C/svg%3E%0A");
        filter: none;
    }
    body.boost-pfs-mobile-stick .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper>span{
        color:#fff
    }
    body .boost-pfs-filter-toolbar-top-mobile{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        border: 0 none
    }
    body .boost-pfs-filter-top-sorting-mobile{
        float: right;
        border-left: 1px solid #eee;
    }
    body .boost-pfs-filter-tree-mobile-button button{
        color: #FF8100;
        background-color: #F7F7F7;
    }
    body .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper{
        color: #FF8100;
        background-color: #F7F7F7;
    }
    body .boost-pfs-filter-tree-mobile-button button:before{
        transform: rotate(90deg);
        color: #FF8100;
        background-image:url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='%23FF8100'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3C/g%3E%3C/svg%3E%0A");
    }
    body .boost-pfs-filter-toolbar-top-mobile-inner.boost-pfs-filter-toolbar-show-sort-by-mobile .boost-pfs-filter-tree-mobile-button{
        border-right: 1px solid #eee;
    }
    body .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper>span{
         color: #FF8100;
     }
     body .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper>span:after{
        border-right-color: #FF8100;        
        border-bottom-color: #FF8100;        
    }
    body .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li.selected .boost-pfs-check-box{
        background-color: #FF8100;
        border-color: #FF8100;
    }
    body .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li.selected .boost-pfs-check-box:before{
        border-color: #fff;        
    }
  .sidebar-wrap .sidebarnext-content .boost-pfs-filter-default-toolbar {
    position: relative;
    text-align: right;
  }
}
@media(max-width: 767px) {
    .sidebar-wrap {
        display: block;
        margin-top: 20px;
    }

    .sidebar-wrap .sidebar {
        width: auto;
    }
    .promo-iteam .innterBox{
        position: static;
        background-color: transparent;
    }
    .sidebar-wrap .sidebar .boost-pfs-filter-toolbar-count{
        display: none;
    }
    .boost-pfs-filter-toolbar-item.boost-pfs-filter-toolbar-count.boost-pfs-filter-toolbar-count-d.boost-pfs-filter-toolbar-count-m{
        clear: both;
        font-size: 14px;
        font-weight: 500;
        color: rgb(var(--color-base-accent-2));
        padding-top: 10px;
        text-align: center;
    }

    .promo-iteam .innterBox h3.heading{
        color:#444444;
        padding-top: 0;
        margin-top: 0;
    }
    .promo-iteam .innterBox .btn{
        color:#FF8100;
    }
    .boost-pfs-mobile-stick .boost-pfs-filter-toolbar-sticky-mobile .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-filter-dropdown {
        bottom: 100%;
        top: auto;
    }
    .sidebar-wrap .sidebarnext-content {
        width: auto;
        padding-left: 0;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .card-information__wrapper .card-information__text, .boost-pfs-filter-product-bottom-inner .boost-pfs-filter-product-item-title{
        font-size: 12px;
    }
    .boost-pfs-filter-product-bottom-inner .boost-pfs-filter-product-item-price {
        font-size: 13px;
        padding-bottom: 0;
    }
    .quick-view-button button.quick-view{
        font-size: 13px;
    }
    .boost-pfs-filter-default-toolbar .boost-pfs-filter-toolbar-item.boost-pfs-filter-toolbar-type {
        display: none;
    }
    body.boost-pfs-mobile-stick .boost-pfs-filter-toolbar-sticky-mobile .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper,
    body.boost-pfs-mobile-stick .boost-pfs-filter-toolbar-sticky-mobile .boost-pfs-filter-tree-mobile-button button{
        background-color: rgb(var(--color-base-accent-2)) !important;
        color:#fff;
    }
    body.boost-pfs-mobile-stick .boost-pfs-filter-toolbar-sticky-mobile .boost-pfs-filter-tree-mobile-button button:before{
        background-image:url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='%23ffffff'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3C/g%3E%3C/svg%3E%0A");
        filter: none;
    }
    body.boost-pfs-mobile-stick .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper>span{
        color:#fff
    }
    body .boost-pfs-filter-toolbar-top-mobile{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        border: 0 none
    }
    body .boost-pfs-filter-top-sorting-mobile{
        float: right;
        border-left: 1px solid #eee;
    }
    body .boost-pfs-filter-tree-mobile-button button{
        color: #FF8100;
        background-color: #F7F7F7;
    }
    body .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper{
        color: #FF8100;
        background-color: #F7F7F7;
    }
    body .boost-pfs-filter-tree-mobile-button button:before{
        transform: rotate(90deg);
        color: #FF8100;
        background-image:url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='%23FF8100'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3C/g%3E%3C/svg%3E%0A");
    }
    body .boost-pfs-filter-toolbar-top-mobile-inner.boost-pfs-filter-toolbar-show-sort-by-mobile .boost-pfs-filter-tree-mobile-button{
        border-right: 1px solid #eee;
    }
    body .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper>span{
         color: #FF8100;
     }
     body .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-top-sorting-wrapper>span:after{
        border-right-color: #FF8100;        
        border-bottom-color: #FF8100;        
    }
    body .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li.selected .boost-pfs-check-box{
        background-color: #FF8100;
        border-color: #FF8100;
    }
    body .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li.selected .boost-pfs-check-box:before{
        border-color: #fff;        
    }

    .sidebar-menuWrap {position: relative;}
    .sidebar-wrap .sidebar .mobileTitle{
        color: #444444;
    border-bottom: 1px solid rgba(64,64,64,.12);
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    }
    .sidebar-menuWrap .mobileTitle.thisSubOpen > svg #Line_19{
        display: none;
    }
    .sidebar-menuWrap .sidebar-menu{display: none;}
    .sidebar-menuWrap .sidebar-menu a{
        font-size: 13px;
    }
    body .boost-pfs-filter-collection-header-wrapper{
        background-image: none;
        background-color: #FFE0C8;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .inline-form-wrap .card-media-wrap .inline-form-options,
    .inline-form-wrap .boost-pfs-filter-product-item-image .inline-form-options{
        display: none;
    }
    .quick-view-button{
        display: none;
    }
    .collection slider-component .slider{
        padding-bottom: 0;
    }
    .boost-pfs-filter-product-item.boost-pfs-filter-product-item-grid{
        padding-bottom: 0 !important;
    }
    body .boost-pfs-filter-top-sorting label{
        display: none;
    }
    body .boost-pfs-filter-collection-header-wrapper{
        padding: 0;
    }
  .boost-pfs-filter-top-sorting-mobile .boost-pfs-filter-filter-dropdown {
    width: calc(100% - 20px) !important;
  }
  .boost-pfs-filter-toolbar-top-mobile .boost-pfs-filter-toolbar-item.boost-pfs-filter-toolbar-count.boost-pfs-filter-toolbar-count-d.boost-pfs-filter-toolbar-count-m {
    display: none;
}
}

body .boost-pfs-filter-custom-sorting .boost-pfs-filter-filter-dropdown{
    background: #fff;
    border: 1px solid rgba(112, 112, 112, 0.1);
    filter: drop-shadow(6px 3px 6px rgba(0, 0, 0, 0.08));
}
body .boost-pfs-filter-custom-sorting .boost-pfs-filter-filter-dropdown li {
    line-height: normal;
    padding: 4px 20px;
}
body .boost-pfs-filter-custom-sorting .boost-pfs-filter-filter-dropdown li a{
    font-family: "Varela Round";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 30px;
    text-align: left;
    color: #444;
    text-decoration: none;
  text-transform: uppercase;
}
body .boost-pfs-filter-tree-h .boost-pfs-filter-option .boost-pfs-filter-option-content{
    border-radius: 0;
}
body .boost-pfs-filter-load-more .boost-pfs-filter-load-more-button{
    background-color: rgb(var(--color-base-accent-2));
    border-color:rgb(var(--color-base-accent-2));
    color:#fff;
}
.product__accordion.accordion{
    border: 0 none;
}
.accordion summary {
    background: #F7F7F7;
}
.accordion summary .summary__title .accordion__title{
    font-family: var(--font-heading-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #444;
    margin-left: 20px;
}
.accordion summary .icon-caret{
    color: #FF8100;
    width: 15px;
    height: 12px;
    top: calc(50% - 6px);
}
.card-information__wrapper .caption-with-letter-spacing.light {
    text-align: center;
    margin-top: 10px;
}
.boost-pfs-filter-option-item.boost-pfs-filter-option-label .boost-pfs-filter-button {
    line-height: 22px;
    font-family: var(--font-heading-family);
    font-weight: 600;
    font-size: 80%;
    text-transform: capitalize;
    color: rgb(var(--color-foreground));
}