.product-grid .grid__item {
    padding-bottom: 2rem;
  }
  
  .product-grid.negative-margin {
    margin-bottom: -2rem;
  }
  
  @media screen and (min-width: 1200px) {
    .product-grid .grid__item {
      padding-bottom: 5rem;
    }
  
    .product-grid.negative-margin {
      margin-bottom: -5rem;
    }
  
    .product-grid.negative-margin--small {
      margin-bottom: -1rem;
    }
  }
  
.card-wrapper .video__container video.hover_video.secondary.lazyload {
    width: 100%;
    height: 100%;
    object-fit: cover;
}