.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
  text-align: center;
  font-family: var(--font-heading-family);
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.02em;
  line-height: 32px;
  text-align: center;
  color: #7fb1b4;
}


/* .shopify-section.section-product-recommendations{
  padding-top: 5rem;
  background-color: #F7F7F7;
} */
.shopify-section.section-product-recommendations button.slick-arrow{
  background-color: #fff;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 62px;
    height: 62px;
    z-index: 1;
    border-radius: 50%;
}
.shopify-section.section-product-recommendations button.slick-arrow:before{
  display: none;
}
.shopify-section.section-product-recommendations button.slick-arrow svg{
  display: none;
}
.shopify-section.section-product-recommendations button.slick-arrow.slick-prev{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19.493'%3E%3Cpath id='Icon_awesome-arrow-left' data-name='Icon awesome-arrow-left' d='M11.493,20.835l-.991.991a1.067,1.067,0,0,1-1.513,0L.311,13.153a1.067,1.067,0,0,1,0-1.513L8.989,2.962a1.067,1.067,0,0,1,1.513,0l.991.991a1.073,1.073,0,0,1-.018,1.531L6.1,10.608H18.925A1.069,1.069,0,0,1,20,11.68v1.428a1.069,1.069,0,0,1-1.071,1.071H6.1L11.475,19.3A1.065,1.065,0,0,1,11.493,20.835Z' transform='translate(0.004 -2.647)' fill='%23ff8100'/%3E%3C/svg%3E%0A");
  left: -80px;
}
.shopify-section.section-product-recommendations button.slick-arrow.slick-next{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19.493'%3E%3Cpath id='Icon_awesome-arrow-left' data-name='Icon awesome-arrow-left' d='M8.5,20.835l.991.991a1.067,1.067,0,0,0,1.513,0l8.678-8.673a1.067,1.067,0,0,0,0-1.513L11,2.962a1.067,1.067,0,0,0-1.513,0L8.5,3.953a1.073,1.073,0,0,0,.018,1.531L13.9,10.608H1.068A1.069,1.069,0,0,0,0,11.68v1.428a1.069,1.069,0,0,0,1.071,1.071H13.9L8.518,19.3A1.065,1.065,0,0,0,8.5,20.835Z' transform='translate(0.004 -2.647)' fill='%23ff8100'/%3E%3C/svg%3E%0A");
  right: -80px;
}
@media(max-width: 1199px) {
  .shopify-section.section-product-recommendations button.slick-arrow{
    opacity: 1;
    background-color: #ff8100;
    width: 50px;
    height: 50px;
  }
  .shopify-section.section-product-recommendations button.slick-arrow.slick-prev{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19.493'%3E%3Cpath id='Icon_awesome-arrow-left' data-name='Icon awesome-arrow-left' d='M11.493,20.835l-.991.991a1.067,1.067,0,0,1-1.513,0L.311,13.153a1.067,1.067,0,0,1,0-1.513L8.989,2.962a1.067,1.067,0,0,1,1.513,0l.991.991a1.073,1.073,0,0,1-.018,1.531L6.1,10.608H18.925A1.069,1.069,0,0,1,20,11.68v1.428a1.069,1.069,0,0,1-1.071,1.071H6.1L11.475,19.3A1.065,1.065,0,0,1,11.493,20.835Z' transform='translate(0.004 -2.647)' fill='%23fff'/%3E%3C/svg%3E%0A");
    left: 8px;
    transform: translate(0);
  }
  .shopify-section.section-product-recommendations button.slick-arrow.slick-next{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19.493'%3E%3Cpath id='Icon_awesome-arrow-left' data-name='Icon awesome-arrow-left' d='M8.5,20.835l.991.991a1.067,1.067,0,0,0,1.513,0l8.678-8.673a1.067,1.067,0,0,0,0-1.513L11,2.962a1.067,1.067,0,0,0-1.513,0L8.5,3.953a1.073,1.073,0,0,0,.018,1.531L13.9,10.608H1.068A1.069,1.069,0,0,0,0,11.68v1.428a1.069,1.069,0,0,0,1.071,1.071H13.9L8.518,19.3A1.065,1.065,0,0,0,8.5,20.835Z' transform='translate(0.004 -2.647)' fill='%23fff'/%3E%3C/svg%3E%0A");
    transform: translate(0);
    left: auto;
    right: 0;
  }
}
@media(max-width: 767px) {
  .shopify-section.section-product-recommendations .product-grid .grid__item{
    padding-bottom: 0;
  }
  .shopify-section.section-product-recommendations .product-recommendationswrpper .slick-initialized.slick-slider {
    margin-right: calc(-25vw + 1.5rem);
  }
  .shopify-section.section-product-recommendations ul.slick-dots{
    width: calc(100vw - 2rem);
    margin-left: 0;
  }
  .product-recommendationswrpper {
    width: 100%;
    overflow: hidden;
  }
  .shopify-section.section-product-recommendations button.slick-arrow{
    opacity: 1;
    background-color: #ff8100;
    width: 50px;
    height: 50px;
  }
  .shopify-section.section-product-recommendations button.slick-arrow.slick-prev{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19.493'%3E%3Cpath id='Icon_awesome-arrow-left' data-name='Icon awesome-arrow-left' d='M11.493,20.835l-.991.991a1.067,1.067,0,0,1-1.513,0L.311,13.153a1.067,1.067,0,0,1,0-1.513L8.989,2.962a1.067,1.067,0,0,1,1.513,0l.991.991a1.073,1.073,0,0,1-.018,1.531L6.1,10.608H18.925A1.069,1.069,0,0,1,20,11.68v1.428a1.069,1.069,0,0,1-1.071,1.071H6.1L11.475,19.3A1.065,1.065,0,0,1,11.493,20.835Z' transform='translate(0.004 -2.647)' fill='%23fff'/%3E%3C/svg%3E%0A");
    left: 8px;
    transform: translate(0);
  }
  .shopify-section.section-product-recommendations button.slick-arrow.slick-next{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 19.493'%3E%3Cpath id='Icon_awesome-arrow-left' data-name='Icon awesome-arrow-left' d='M8.5,20.835l.991.991a1.067,1.067,0,0,0,1.513,0l8.678-8.673a1.067,1.067,0,0,0,0-1.513L11,2.962a1.067,1.067,0,0,0-1.513,0L8.5,3.953a1.073,1.073,0,0,0,.018,1.531L13.9,10.608H1.068A1.069,1.069,0,0,0,0,11.68v1.428a1.069,1.069,0,0,0,1.071,1.071H13.9L8.518,19.3A1.065,1.065,0,0,0,8.5,20.835Z' transform='translate(0.004 -2.647)' fill='%23fff'/%3E%3C/svg%3E%0A");
    transform: translate(0);
    left: calc(100vw - 80px);
    right: auto;
  }
  
}